body{

	background-color:#FFCBB3;
	font-style: "微軟正黑體";
}

h1{

	font-size:50px;
	text-align: center;

}

p{
	font-size: 25px;
	text-align: center;

}

#btnplace{

	text-align: center;
}

.btn{

	font-size: 20px;
	background-color: wheat;	
}

#gohomediv{

	text-align: center;
}