#ContainerA{

	height: 150px;
	width: 100%;
}

#questionType{

	width: 40%;
	height: 100%;
	float: left;
}

#questionNumber{

	width: 20%;
	height: 100%;
	float: left;
}

#wantAnswer{

	width: 40%;
	height: 100%;
	float: left;
}

#ContainerB{

	height: 300px;
	width: 100%;
}

#questionContent{

	width: 50%;
	height: 100%;
	float: left;
}

#questionAnswer{

	width: 50%;
	height: 100%;
	float: left;
}

.mainContent{

	border-style: solid;
	box-sizing: border-box;
	font-size: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;  
}

.buttonstyle{

	height: 25%;
	width: 30%;
	font-size:1.5rem;

}